.chatbox {
    background-color: #111111;
    height: 750px;
}

.chat_body {
    height: 75%;
}

.chat_message {
    display: inline-block;
    width: 100%;
}

.chat_message .chat_message_sender {
    color: purple;
    float: left;
    margin-right: 4px;
}

.chat_message .chat_message_text {
    color: white;
    float: left;
}