.auth_popup_content {

     position: absolute;
     left: 25%;
     right: 25%;
     top: 25%;
     bottom: 25%;
     margin: auto;
     background: white;
}

.auth_popup_reg_content {
     width: 100%;
     height: 50%;
     background-color: #18181B;
}

.auth_popup_login_content {
     width: 100%;
     height: 50%;
     background-color: rgb(24, 24, 27);
}

.auth_popup {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     background-color: rgba(0,0,0, .5);
}