.video_player_container, .chat_box_container {
     float: left;
}

.video_player_container {
     width: 75%;
}

.chat_box_container {
     width: 25%;
}

.container h2 {
     text-align: center;
}