@page "/account"
@model IndexModel
@{
    ViewData["Title"] = "Account";
}

@section AdditionalScripts
{
    <script type="module" src="~/js/common.js"></script>
    <script type="module" src="~/js/account.js"></script>
}


@section AdditionalStyles
{
    <link href="~/css/account.css" rel="stylesheet" media="all">
}

<div class="" style="display: flex; flex-direction: row; text-align: center;">
    <div id="account_sidebar" class="account_sidebar">
        <div data="other" class="account_sidebar_item">
            <div class="account_sidebar_item_text">
                Other
            </div>
        </div>
        <div data="security" class="account_sidebar_item">
            <div class="account_sidebar_item_text">
                Security
            </div>
        </div>
    </div>

    <div id="setting_content" class="setting_content">
        <div id="setting_content_security" class="setting_content_security" style="display: none">
            <button id="compete_btn" class="color1_btn"
                    style="height: 38px; padding: 5px" type="button">
                <a style="color: white;" href="/account/recovery">Поменять пароль</a>
            </button>
        </div>

        <div id="setting_content_other" class="setting_content_other" style="display: none">
            Other
        </div>
    </div>
</div>