.color1_btn {
    font-size: 15px;
    color: white;
    height: 28px;
    border: none;
    border-radius: 5px;
}

    .color1_btn:disabled {
        background-color: gray;
    }

    .color1_btn:enabled {
        background-color: #9147FF;
    }

        .color1_btn:enabled:hover {
            background-color: #4a277c;
        }

.color1_btn_header {
    padding: 5px;
    width: 90px;
}

    .color1_btn_header:enabled:hover {
        background-color: #4a277c;
    }