.recovery_container {
	margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: 500px;
	display:flex;
    flex-direction: column;
}

.recovery_container .p1 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 20px;
}

#recovery_continue_btn {
  background-color: #a61e4d;
  color: #eee;
  border: none;
}

#recovery_continue_btn {
	width: 180px;
	height: 28px;
	vertical-align: center;
}

#recovery_continue_btn:disabled {
   background-color: gray;
}

#recovery_continue_btn:enabled {
   background-color: #9147FF;
}

#recovery_continue_btn:enabled:hover {
   background-color: #9147AA;
}