.separator {
    display: flex !important;
    text-align: center !important;
    padding-top: 1rem !important;
    margin-bottom: 10px;
    width: 100%;
}

    .separator .sidepart {
        -moz-box-flex: 1 !important;
        position: relative !important;
        flex-grow: 1 !important;
        border: 0px;
        padding: 0px;
        margin: 0px;
    }

        .separator .sidepart div {
            top: 50%;
            border-top: 1px solid rgb(191, 148, 255) !important;
            width: 100% !important;
            position: absolute !important;
            z-index: -1 !important;
        }

    .separator .text {
        -moz-box-flex: 0 !important;
        flex-grow: 0 !important;
        padding-right: 1rem;
        padding-left: 1rem;
    }

        .separator .text button {
            display: inline-flex;
            position: relative;
            -moz-box-align: center;
            align-items: center;
            -moz-box-pack: center;
            justify-content: center;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            white-space: nowrap;
            user-select: none;
            font-weight: 600;
            border-radius: 0.4rem;
            font-size: 1.3rem;
            height: 2rem;
            background-color: transparent;
            color: rgb(191, 148, 255);
            border: 0;
        }



.text button:hover {
    background-color: #eee;
}

        .separator .text button div {
            display: flex;
            -moz-box-align: center;
            align-items: center;
            -moz-box-flex: 0;
            flex-grow: 0;
            padding-top: 0px;
            padding-bottom: 0px;
        }

            .separator .text button div div {
                -moz-box-flex: 0 !important;
                flex-grow: 0 !important;
                display: flex !important;
                -moz-box-align: center !important;
                align-items: center !important;
                -moz-box-pack: start !important;
                justify-content: flex-start !important;
            }

            .separator .text button div div div {
                display: flex !important;
            }

                .separator .text button div div div .text_c {
                    align-self: center !important;
                    margin-right: 0.5rem !important;
                }

                .separator .text button div div div .text_c p {
                    font-size: 15px;
                    line-height: 1.5;
                    margin: 0px;
                    padding: 0px;
                }

                .arrow {
                    display: inline-flex;
                    -moz-box-align: center;
                    align-items: center;
                    width: 1.5rem;
                    height: 1.5rem;
                    fill: currentColor;
                }

                    .arrow svg {
                        white-space: nowrap;
                        box-sizing: border-box;
                        margin: 0;
                        padding: 0;
                        width: 1.5rem;
                        height: 1.5rem;
                        fill: rgb(191, 148, 255);
                    }

.article_h {
    margin-bottom: 2rem !important;
    margin: 0px;
    padding: 0px;
    border: 0;
}

    .article_h_span {
        font-size: 1.8rem !important;
        font-weight: 600 !important;
    }

.results {
    display: flex;
    flex-direction: column;
}

.results_elems {
    display: flex;
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.results_elems_categories {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.results_block {
    margin: auto;
    width: 98%;
    
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 24px;
}

.results_elems_category_img {
    height: 12rem;
    width: 21.4rem;
    display: flex !important;
    -moz-box-pack: center !important;
    justify-content: center !important;
    -moz-box-align: center !important;
    align-items: center !important;
    flex-shrink: 0 !important;
}

.results_elems_category {
    -moz-box-align: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: row;
    margin-bottom: 2rem !important;
}

.results_elems_category_img img {
    height: 12rem;
    width: 9rem;
}

.results_elems_category_info_views {
    color: rgb(222, 222, 227) !important;
    font-size: 1.4rem !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.results_elems_category_info_name {
    display: flex !important;
    flex-direction: column;
}


    .results_elems_category_info_name strong {
        color: rgb(222, 222, 227) !important;
        font-size: 1.8rem !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

.results_elems_category_info_name_a {
    text-decoration: none;
    color: #2f2929;
}

    .results_elems_category_info_name_a:hover {
        text-decoration: none;
        color: rgb(191, 148, 255);
    }

    .user_result {
        margin-bottom: 2rem !important;
    }

.user_result_container {
    -moz-box-align: center !important;
    align-items: center !important;
    display: inline-flex !important;
    margin-bottom: 0rem !important;
    width: 100% !important;
}

.user_result_container_ava {
    height: 12rem;
    width: 21.4rem;
}

    .user_result_container_ava img {
        border: none;
        max-width: 100%;
        vertical-align: top;
        display: block !important;
        border-radius: 9000px;
        width: 100% !important;
        background-color: red;
    }

    .user_result_container_ava div div {
        position: relative;
        background-color: inherit;
        max-height: 100%;
        width: 12rem;
        height: 12rem;
    }

    .user_result_container_ava div {
        border: 2px solid rgba(83,83,95,.48);
        border: 2px solid hsla(240,7%,70%,.35);
        box-sizing: content-box;
        height: 12rem;
        width: 12rem;
        border-radius: 9000px !important;
        overflow: hidden !important;
    }

.user_result_container_info {
    max-width: 55rem;
    overflow: hidden !important;
    width: 100% !important;
    margin-top: 0rem !important;
}

    .user_result_container_info_label {
        display: flex !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        -moz-box-pack: justify;
        justify-content: space-between !important;
        flex-wrap: wrap !important;
    }

        .user_result_container_info_label div {
            display: flex !important;
            flex-direction: column !important;
            margin-right: 1rem !important;
        }

            .user_result_container_info_label div div {
                display: flex !important;
            }

                .user_result_container_info_label div div strong {
                    color: rgb(222, 222, 227) !important;
                    font-size: 1.8rem !important;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

.user_result_container_info_desc {
    margin-top: 1rem !important;
}

    .user_result_container_info_desc p {
        max-width: 50rem;
        line-height: 1.5;
        word-break: break-word !important;
        color: rgb(222, 222, 227) !important;
        font-size: 1.3rem !important;
    }
    


    
