.header_container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dangerous_sign {
    width: 25px;
    height: 25px;

}

/* Tooltip container */
.tooltip2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

    /* Tooltip text */
    .tooltip2 .tooltiptext {
        top: -5px;
        right: 105%;
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip2:hover .tooltiptext {
        visibility: visible;
    }

    .tooltip2 .tooltiptext {
        top: -5px;
    }