.account_sidebar {
    border-right: 1px solid #dee2e6;
    height: 100vh;
    padding: 10px 0px 10px 0px;
}

.account_sidebar_item {
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    font-size: 24px;
    border-bottom: 1px solid #dee2e6;
}

.account_sidebar_item_text {
    font-weight: 600;
    font-size: 24px;
    margin-right: 18px;
    margin-left: 18px;
}

.setting_content {
    padding: 25px;
}

.setting_content_security {

}
