.color1_btn {
    font-size: 15px;
    color: white;
    height: 28px;
    border: none;
    border-radius: 5px;
}

    .color1_btn:disabled {
        background-color: gray;
    }

    .color1_btn:enabled {
        background-color: #9147FF;
    }

        .color1_btn:enabled:hover {
            background-color: #4a277c;
        }

.color1_btn_header {
    padding: 5px;
    width: 90px;
}

    .color1_btn_header:enabled:hover {
        background-color: #4a277c;
    }

.color2_btn {
    font-size: 15px;
    color: white;
    height: 28px;
    border: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black;
}
.color2_btn:enabled {
    background-color: white;
}
    .color2_btn:enabled:hover {
        color: white;
        background-color: #9f81ca;
    }

.transparent_button {
    border: 0px;
    background: transparent;
}