a {
    text-decoration: none;
}

.broadcast_block {
    width: 306.5px;
    height: 292px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.broadcast_block_container {
    margin: auto;
    width: 98%;
    min-height: 614px;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    padding-left: 24px;

}

.broadcast_block_img {
    width: 306.5px;
    height: 172.4px;
}

.overview_pagination {
    height: 40px;
    display: flex;
    margin: auto 0;
    justify-content: center;
}

    .overview_pagination div {
        width: 40px;
    }

        .overview_pagination .pagination_arrow {
            width: 40px;
        }

        .overview_pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            cursor: pointer;
        }

        .overview_pagination a.active {
            background-color: #9147FF;
            color: white;
            border-radius: 5px;
        }
        /*#9147FF*/
        .overview_pagination a:hover:not(.active) {
            background-color: #ddd;
            border-radius: 5px;
        }

        .overview_pagination a:hover:is(.active) {
            background-color: #9e62f6;
            border-radius: 5px;
        }

.broadcast_block_info_avatar {
    margin-top: -2px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 9000px !important;
}

.broadcast_block_info_title {
    color: rgb(31, 31, 35);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    text-decoration: none;
}

    .broadcast_block_info_title:hover {
        color: #4a277c;
    }

.broadcast_block_info_username {
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    color: rgb(83, 83, 95);
    line-height: 1.5;
}

.broadcast_block_info_category {
    text-decoration: none;
    cursor: pointer;
    color: rgb(83, 83, 95);
    margin-bottom: 4px !important;
}

    .broadcast_block_info_category:hover {
        color: #4a277c;
    }

.broadcast_block_info_tag {
    cursor: pointer;
    -moz-box-align: center;
    align-items: center;
    padding: 0px 0.8rem;
    background-color: #9e62f6;
    border: 2px solid transparent;
    border-radius: 9000px;
    height: 20px;
    margin-right: 4px;
    padding-bottom: 4px;
}

    .broadcast_block_info_tag:hover {
        background-color: #9147FF;
    }

    .broadcast_block_info_tag span {
        font-size: 12px;
        color: white;
        font-weight: 600;
        line-height: 18px;
        
    }

.broadcast_block_info_tags {
}

