/*
.b-popup {
    width: 100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: absolute;
    top: 0px;
}

    .b-popup .b-popup-content {
        margin: 40px auto 40px auto;
        width: 400px;
        background-color: #c5c5c5;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #000;

    }
*/

.b-popup {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.b-popup .b-popup-content {
    margin: 10% auto;
    width: 30%;
}

.box-close {
    color: #9147FF;
    text-decoration: none;
    font-size: 38px;
    margin-right: 15px;
}

    .box-close:hover {
        color: #a36ef1;
        text-decoration: none;
        font-size: 38px;
        margin-right: 15px;
    }

.custom_card-body {
    align-self: center;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
}

.popup_content_header {
    display: flex;
    justify-content: end;
}

#registration_popup .card-4 {
    height: auto;
}

.side_popup {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 15px;
    left: 15px;
    width: 260px;
    height: 46px;
}

.side_popup_content {
    color: white !important;
    width: 100%;
    height: 100%;
    background: red;
    background-color: red;
    /*margin: 10% auto auto 10%;*/
    /*position: absolute;*/
}

.side_popup_content span {
    margin: 8px 0px 0px 5px;
    position: absolute;
}

.debug_side_popup_content {
    background: darkgoldenrod !important;
    background-color: darkgoldenrod !important;
}

