
@section AdditionalScripts
{
    @*<script type="text/javascript" src="~/js/network.js"></script>*@
	<script type="text/javascript" src="~/js/confirmation.js"></script>
}

@section AdditionalStyles
{
    @*<link href="~/css/confirmation.css" rel="stylesheet" media="all">*@
}

        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <div id="verification_numbers" class="row justify-content-center align-items-center">
                        <div style="width: 40px">
                            <div class="reg_input">
                                <input style="width: 40px" maxlength="1" type="text" name="first"/>
                            </div>
                        </div>
                        <div style="width: 40px">
                            <div class="reg_input">
                                <input style="width: 40px" maxlength="1" type="text" name="second"/>
                            </div>
                        </div>
                        <div style="width: 40px">
                            <div class="reg_input">
                                <input style="width: 40px" maxlength="1" type="text" name="trith"/>
                            </div>
                        </div>
                        <div style="width: 40px">
                            <div class="reg_input">
                                <input style="width: 40px" maxlength="1" type="text" name="fourth"/>
                            </div>
                        </div>
                        <div style="width: 40px">
                            <div class="reg_input">
                                <input style="width: 40px" maxlength="1" type="text" name="fifth"/>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="send_code_again" href="javascript:void(0)">Send code again</a>
            </div>
        </div>