@model RegistrationModel

@section AdditionalScripts
{
	<script type="text/javascript" src="~/js/confirmation.js"></script>
}

@section AdditionalStyles
{
	
}

        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <div id="verification_numbers" class="row justify-content-center align-items-center">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-4" type="text" name="first"/>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-4" type="text" name="second"/>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-4" type="text" name="trith"/>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-4" type="text" name="fourth"/>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-4" type="text" name="fifth"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>