@page "/account/editpassword"

@model EditPasswordModel

@section AdditionalScripts
{
    <script type="module" src="~/js/common.js"></script>
    <script type="module" src="~/js/editpassword.js"></script>
}

@section AdditionalStyles
{
    <link href="~/css/recovery.css" rel="stylesheet" media="all">
}

<div id="recovery_container_phase1">
	<div class="recovery_container">
		<div style="margin-bottom: 40px">
			<label class="label">@Model.EDITPSWRD_P1P1</label>
			<input id="old_password_input" class="input--style-4" style="width: 100%" type="text" name="email">
		</div>
		<div style="margin-bottom: 40px">
			<label class="label">@Model.EDITPSWRD_P1P2</label>
			<input id="new_password_input" class="input--style-4" style="width: 100%" type="text" name="email">
		</div>
		<div style="margin-bottom: 40px">
			<label class="label">@Model.EDITPSWRD_P1P3</label>
			<input id="new_password_input_repeat" class="input--style-4" style="width: 100%" type="text" name="email">
		</div>
		<button id="compete_btn" class="color1_btn" type="button" disabled="true">@Model.COMPLETE_BTN</button>
	</div>
</div>
