@using Parus.Core.Interfaces;
@using Parus.WebUI.HtmlHelpers;

@inject ILocalizationService localizationService

<h2 class="title">Войти в Naturistic</h2>

<div id="login_body">
    <div class="row row-space">
        <div class="group">
            <input id="login_usernameInput" class="form_input" required type="text" name="nickname">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="input_label">Username</label>
        </div>
    </div>
    <div class="row row-space">
        <div class="group last_group">
            <input id="password_Input" class="form_input" style="padding-right: 25px" required type="password" name="password">

            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="input_label">Password</label>
            <img class="show_hide_password_btn" id="login_show_hide_password" style="width: 25px; height: 25px" ; />
        </div>
    </div>

    <div>
        <label id="login_error_label" style="display: none; margin-bottom: 10px" class="label">
            @LocalizationHelper.RetreiveErrorParagraph(Html, key: "LOGIN_PSWD_ERROR", localization: localizationService)
        </label>
        <label id="login_server_error_label" style="display: none; margin-bottom: 10px" class="label">

            @*@LocalizationHelper.RetreiveErrorParagraph(Html, key: "LOGIN_PSWD_SERVER_ERROR", localization: localizationService)*@
        </label>
        <a id="password_recovery_label" href="/account/recovery"
            style="display: none; margin-bottom: 10px" class="label_info">
            Восстановить пароль        
        </a>
    </div>
    <div class="p-t-15" style="margin-top: 10px">
        <button id="login_sendbutton" style="width: 120px" class="color1_btn" type="submit">Login</button>
    </div>
</div>

<div id="two_factory_body" style="display: none">
    <label>
        Шаг 1: отсканируйте QR-код
    </label>
    <p>
        Откройте приложение для аутенфикации GoogleAuthenticator и отсканируйте изображение нижу с помощью камеры
    </p>
    <label>
        Шаг 2: потвердите код
    </label>
    <p>
        Введите сгенерированый 6-значный код
    </p>
    <div class="row row-space">
        <div class="group">
            <input id="code_input" autocomplete="off" class="form_input" maxlength="6" required type="text" name="qrcode">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label id="code_error" style="display: none" class="input_error">Неправильный код</label>
            <label id="code_success" style="display: none" class="input_success">Верно!</label>
        </div>
    </div>

    <button id="2fa_send_btn" class="color1_btn" type="button">
        Отправить
    </button>
</div>