@using Parus.Core.Interfaces;
@using Parus.WebUI.HtmlHelpers;

@inject ILocalizationService localization

<div class="verification_container">

    <h4 id="verification_info">@LocalizationHelper.RetreiveRawText(Html, "VERIF_INFO", localization)</h4>

    <div id="verification_numbers" class="row justify-content-center align-items-center">
        <div class="verify_number_input_container" style="width: 40px">
            <div class="reg_input">
                <input autocomplete="off" class="verify_number_input" style="width: 40px" maxlength="1" type="text" name="first" />
            </div>
        </div>
        <div class="verify_number_input_container"  style="width: 40px">
            <div class="reg_input">
                <input autocomplete="off" class="verify_number_input" style="width: 40px" maxlength="1" type="text" name="second" />
            </div>
        </div>
        <div class="verify_number_input_container" style="width: 40px">
            <div class="reg_input">
                <input autocomplete="off"  class="verify_number_input" style="width: 40px" maxlength="1" type="text" name="trith" />
            </div>
        </div>
        <div class="verify_number_input_container" style="width: 40px">
            <div class="reg_input">
                <input autocomplete="off" class="verify_number_input" style="width: 40px" maxlength="1" type="text" name="fourth" />
            </div>
        </div>
        <div class="verify_number_input_container" style="width: 40px">
            <div class="reg_input">
                <input autocomplete="off" class="verify_number_input" style="width: 40px" maxlength="1" type="text" name="fifth" />
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: start">
        <a id="send_code_again" style="margin-right: 15px;" class="send_code_text" href="javascript:void(0)">@LocalizationHelper.RetreiveRawText(Html, "VERIF_SENDCODE", localization)</a>
        <div id="send_code_again_timer">
            02:00
        </div>
    </div>

</div>
      