@using Microsoft.Extensions.Configuration;
@using Parus.Core.Interfaces;
@using Parus.Core.Entities;
@using Parus.Core.Interfaces.Services;
@using Parus.Infrastructure.Identity;
@using Parus.WebUI.HtmlHelpers;

@inject ILocalizationService localization
@inject ISearchingService searchingService
@inject IConfiguration configuration

@{
    string imageServer = configuration["ImageServer:Url"];

    string page = Context.Request.Query["page"];

    int pageInt32;
    if (!Int32.TryParse(page, out pageInt32))
    {
        pageInt32 = 1;
    }

    var Users = (IEnumerable<IUser>)searchingService.SearchUsersByName(Model);

    // why do i do this... :(
    int usersCount = 0;
    foreach (var item in Users)
    {
        usersCount++;
    }

    int pageCount = (usersCount / PaginationData.PAGE_SIZE) + 1;

    PaginationData pd = new PaginationData { Page = pageInt32, PageCount = pageCount };
}

@if (Users.Any())
{
    <article class="results_block">
        @{
            <div class="article_h">
                <span class="article_h_span">Пользователи</span>
            </div>

            <div class="results_elems_categories">
                @foreach (ApplicationUser usr in Users)
                {
                    <div class="user_result">
                        <div class="user_result_container">
                            <div class="user_result_container_ava">
                                <div class="user_result_container_ava_border">
                                    <div class="user_result_container_ava_container">
                                        <img alt="@(usr.UserName)"
                                             src="@(imageServer)/avas/@(usr.AvatarPath)">
                                    </div>
                                </div>
                            </div>

                            <div class="user_result_container_info">
                                <div class="user_result_container_info_label">
                                    <div>
                                        <div>
                                            <strong>
                                                @usr.UserName
                                            </strong>
                                        </div>
                                    </div>
                                </div>

                                <div class="user_result_container_info_desc">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="separator">
                <div class="sidepart">
                    <div></div>
                </div>
                <div class="text">
                    <button id="show_users_btn">
                        <div>
                            <div>
                                <div>
                                    <div class="text_c">
                                        <p aria-label="Показать все">Показать все</p>
                                    </div>

                                    <div class="arrow">
                                        <svg width="2rem" height="2rem" viewBox="0 0 20 20"><path d="M14.5 6.5 10 11 5.5 6.5 4 8l6 6 6-6-1.5-1.5z"></path></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="sidepart">
                    <div></div>
                </div>
            </div>
        }
    </article>
}

<partial model=@(pd) name="/Pages/Shared/Pagination.cshtml" />
      