
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Routing;
@using Microsoft.AspNetCore.Routing.Patterns;
@using Microsoft.Extensions.Logging;
@using Parus.Core.Interfaces;
@using Parus.Infrastructure.Identity;

@inject ILocalizationService localization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

</head>
<body>
    @RenderSection("AdditionalStyles", required: false)

    <img 
        src="https://gifdb.com/images/high/vocaloid-hatsune-miku-triple-baka-7mluufu623xqb0rk.webp"/>

    @RenderSection("AdditionalScripts", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>
