@page "/broadcasts/{broadcastName}"
@model IndexModel
@{
    ViewData["Title"] = @Model.BroadcastName;
}

@section AdditionalScripts
{
	<script type="text/javascript" src="~/js/chat.js"></script>
	<script src="~/lib/jquery/jquery.min.js"></script>
}

@section AdditionalStyles
{
    <link href="~/css/broadcast.css" rel="stylesheet" media="all">
}

<div>
    Broadcast page of @RouteData.Values["broadcastName"] and @Model.BroadcastName
</div>
