.player_column {
	width: 75%;
	float: left;
	height: 1268px;
}

.player {
	width: 976px;
	background: black;
	height: 482px;
	margin: 0 auto;
}

.player_controls_right_volume_track input {
	margin-top: 6px;
}

.chat {
	right: 0px;
	position: fixed;
	width: 25%;
	float: right;
	height: 100vh;
	border-left: 1px solid #ccc;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0px;
	overflow: hidden
}

.chat_controls input {
	width: 100%;
	height: 34px;
	background-color: #eee;
	border: 2px solid #ccc;
	border-radius: 5px;
}

.chat .input_box {
	padding: 0px 18px 0 10px;
	margin-bottom: 10px;
}

.chat .chat_messages {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 86%;
	padding: 0px 8px 0 8px;
}

.chat_buttons button {
	height: 30px;
	float: right;
	font-size: 12px;
	padding: 0px 8px 0 8px;
}

.chat_buttons {
	padding-right: 10px;
}

.message_body {
	margin: 0px;
}

.message_sender {
	float: left;
	font-weight: bolder;
}

.chat_message {
	background-color: #F2F2F2;
	padding: 5px;
	font-size: 14px;
	font-family: "Helvetica Neue";
	margin-top: 1px;
	border-radius: 5px;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
}
